<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.jonas.fakestandby">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8850353377499245~3510896955" />

    </application>

</manifest>