*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/keys
/app/google-services.json

app/src/main/java/android/jonas/fakestandby/utils/Secrets.java

.idea/misc.xml

fastlane/metadata/android/screenshots.html

fastlane/report.xml
