*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
/keys
/app/google-services.json

app/src/main/java/android/jonas/fakestandby/utils/Secrets.java

fastlane/metadata/android/screenshots.html
fastlane/report.xml

whatsnew/

node_modules/
.vscode/
