<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <link rel="icon" href="assets/app_icon_transparent.svg">

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <!-- Primary Meta Tags -->
    <meta name="title" content="Welcome to the project website of FakeStandby!">

    <!-- Open Graph / Facebook -->
    <meta property="og:image" content="{{site.url}}{{site.logo}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}">
    <meta property="twitter:description" content="{{ site.description }}">
    <meta property="twitter:image" content="{{ site.url }}{{ site.logo }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/additional_style.css?">

    <script defer data-domain="fakestandby.jonasbernard.de" src="https://plausible.jonasbernard.de/js/script.js"></script>

    <style>
      li {
        list-style: none;
      }

      .alert {
        padding: 2rem;
        border-color: #159957;
        border-style: solid;
        border-radius: 1rem;
        margin-top: 2rem;
      }
      .alert h2 {
        margin-bottom: 0;
      }
    </style>

  </head>
  <body>
    <header class="page-header" role="banner" style="background-color: transparent; background-image: url('assets/webBanner.png'); background-attachment: fixed; background-size: cover; background-position: center; height: 100vh; padding: 10vh 3rem;">
      <div style="padding: 2rem; background-color: #2222229c; width: min-content; height: min-content; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
          <h1 class="project-name">{{ default: site.title | default: site.github.repository_name }}</h1>
          <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          <a href="{{ site.f-droid_url }}" style="display: block; margin-bottom: 2rem;"><img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"alt="Get it on F-Droid" style="height: 5rem" /></a>
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
          {% endif %}
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
          {% endif %}
        </div>
      </div>

      <img src="/assets/scroll-arrow.svg" alt="Scroll down arrow" width="50px" class="scroll-arrow">
    </header>

    <main id="content" class="main-content" role="main" style="max-width: 100rem; text-align: center">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
